@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: sans-serif;
  height: 1000px; }

main {
  margin-left: 5rem; }

body::-webkit-scrollbar, .navbar::-webkit-scrollbar {
  width: 16px;
  background: #fff; }

body::-webkit-scrollbar-track, .navbar::-webkit-scrollbar-track {
  background: #fff; }

body::-webkit-scrollbar-thumb, .navbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff; }

body::-webkit-scrollbar-thumb:hover, .navbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4; }

.navbar {
  width: 5rem;
  position: fixed;
  z-index: 2;
  left: 0;
  height: 100vh;
  background: #23232e;
  transition: all 0.2s;
  overflow-x: hidden;
  overflow-y: auto; }
  .navbar .nav-item {
    width: 10rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden; }
    .navbar .nav-item a {
      display: flex;
      align-items: center;
      height: 5rem;
      color: #fff;
      text-decoration: none; }
      .navbar .nav-item a i {
        font-size: 1.5rem;
        display: block;
        width: 5rem;
        text-align: center;
        transition: all 0.2s; }
    .navbar .nav-item:first-child {
      background: #141418; }
      .navbar .nav-item:first-child a > div {
        width: 5rem;
        padding: 0.5rem;
        display: none; }
        .navbar .nav-item:first-child a > div img {
          width: 100%; }
    .navbar .nav-item:hover i, .navbar .nav-item:hover span {
      color: #f06292; }
  .navbar:hover {
    width: 10rem; }
    .navbar:hover .nav-item:first-child {
      justify-content: flex-end; }
      .navbar:hover .nav-item:first-child a > div {
        display: block; }
      .navbar:hover .nav-item:first-child i {
        transform: rotate(-180deg);
        color: #f06292; }

.mobile-navbar {
  background: #141418;
  width: 100%;
  display: none;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0; }
  .mobile-navbar #nav-toggle {
    display: none; }
  .mobile-navbar .nav-toggle-btn {
    padding: 0.75rem;
    cursor: pointer; }
    .mobile-navbar .nav-toggle-btn i {
      font-size: 1.5rem;
      color: #fff; }
  .mobile-navbar .logo {
    padding: 0.5rem;
    height: 40px; }
    .mobile-navbar .logo img {
      height: 100%; }
  .mobile-navbar ul {
    transform: translateX(-100%);
    transition: all 0.2s;
    background: #23232e;
    position: fixed;
    height: 100vh;
    top: 48px;
    left: 0; }
    .mobile-navbar ul li a {
      text-decoration: none;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 0.75rem 1rem; }
      .mobile-navbar ul li a i {
        font-size: 1.5rem;
        margin-right: 1rem; }
      .mobile-navbar ul li a:hover {
        color: #f06292; }
    .mobile-navbar ul .transparent-bg {
      display: none;
      position: fixed;
      z-index: -1;
      top: 0;
      left: 100%;
      width: 100vw;
      height: 100vh; }

#nav-toggle:checked ~ ul {
  transform: translateX(0); }
  #nav-toggle:checked ~ ul .transparent-bg {
    display: block; }

@media only screen and (max-width: 768px) {
  main {
    margin-left: auto; }
  .navbar {
    display: none; }
  .mobile-navbar {
    display: flex; } }

.banner {
  width: 100%;
  height: 625px;
  background: url(../images/banner_opt.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .banner .container img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto; }
    .banner .container img:first-child {
      border-radius: 50%;
      margin-bottom: 0.75rem; }
  .banner .container .intro-content {
    color: #fff;
    font-size: 3rem;
    text-align: center; }

.section {
  padding: 3rem 7rem;
  position: relative; }
  .section .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ba68c8;
    margin-bottom: 1rem; }
  .section .section-content h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem; }
  .section .section-content .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 1rem; }
    .section .section-content .container .card {
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.03);
      display: inline-block;
      padding: 5px 0;
      margin-bottom: 1.5rem;
      width: 8rem; }
      .section .section-content .container .card i {
        display: block;
        font-size: 5rem;
        margin-bottom: 0.5rem; }
      .section .section-content .container .card span {
        font-weight: bold; }

@media only screen and (max-width: 768px) {
  .section {
    padding: 3rem 1rem; } }

.project-link {
  display: block;
  margin: 0.5rem;
  position: relative;
  text-decoration: none; }
  .project-link img {
    width: 100%;
    height: auto;
    vertical-align: middle; }
  .project-link > .project-intro {
    position: absolute;
    padding: 0 1rem;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 0.3s; }
    .project-link > .project-intro div {
      width: 100%; }
    .project-link > .project-intro:hover {
      opacity: 1; }

.jiugongge {
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  overflow: hidden;
  width: 250px; }
  .jiugongge > div {
    width: calc(33.33% - 5px);
    margin: 2.5px; }
    .jiugongge > div img {
      width: 100%;
      height: 100%;
      vertical-align: middle; }

.contactForm-container {
  width: calc(100% - 250px);
  padding: 0 1rem; }

input {
  outline: none;
  border: none;
  font-size: 1rem; }
  input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  /*透明*/ }

.send-btn {
  padding: 0.5rem 2rem;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 0.5rem;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); }
  .send-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }

.input-row {
  display: flex;
  flex-wrap: wrap; }

.input-container {
  display: flex;
  padding: 0 0.5rem;
  margin: 1rem auto 2rem; }
  .input-container input:not([type="submit"]) {
    width: 100%;
    background: transparent; }
  .input-container i {
    font-size: 1.5rem;
    margin-right: 0.5rem; }

.animation-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(-10deg, #1976d2, whitesmoke 60%);
  width: 100%;
  height: 100%; }
  .animation-bg .squares-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .animation-bg .squares-container li {
      position: absolute;
      bottom: -130px;
      display: block;
      width: 25px;
      height: 25px;
      background: rgba(255, 255, 255, 0.2);
      animation: animate 20s linear infinite; }
      .animation-bg .squares-container li:nth-child(1) {
        left: 86%;
        width: 80px;
        height: 80px;
        animation-delay: 0s; }
      .animation-bg .squares-container li:nth-child(2) {
        left: 32%;
        width: 30px;
        height: 30px;
        animation-delay: 1.5s;
        animation-duration: 10s; }
      .animation-bg .squares-container li:nth-child(3) {
        left: 55%;
        width: 100px;
        height: 100px;
        animation-delay: 5.5s; }
      .animation-bg .squares-container li:nth-child(4) {
        left: 70%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 15s; }
      .animation-bg .squares-container li:nth-child(5) {
        left: 65%;
        width: 40px;
        height: 40px;
        animation-delay: 0s; }
      .animation-bg .squares-container li:nth-child(6) {
        left: 20%;
        width: 110px;
        height: 110px;
        animation-delay: 3.5s; }

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1; }
  100% {
    transform: translateY(-700px) rotate(360deg);
    opacity: 0; } }

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background: #141418;
  color: #fff; }

footer a i {
  font-size: 1.5rem;
  color: #fff; }

.col-12, .col-md-4, .col-md-6, .col-md-8, .col-lg-6, .col-xl-4, .col-xl-6 {
  width: 100%;
  text-align: center; }

.col-6 {
  width: 50%;
  text-align: center; }

@media only screen and (min-width: 768px) {
  .col-md-4 {
    width: 33.33%; }
  .col-md-6 {
    width: 50%; }
  .col-md-8 {
    width: 66.66%; } }

@media only screen and (min-width: 992px) {
  .col-lg-6 {
    width: 50%; } }

@media only screen and (min-width: 1200px) {
  .col-xl-4 {
    width: 33.33%; }
  .col-xl-6 {
    width: 50%; } }

@media only screen and (max-width: 992px) {
  .contactForm-container {
    width: 100%;
    margin-top: 1.5rem; } }
